body {
    background-color: #fedad3;
}

.row {
    background-color: white;
}

.card-body {
    background-color: #ebf7d7;
}
.card {
    background-color: #ebf7d7;
}
.form-group {
    background-color: #ebf7d7;
}
.row {
    background-color: #ebf7d7;
}
.card-header {
    background-color: #a8e6cf;
}
